@import '../../style/modules/base'

.FolioItem
  flex: 0 0 100%
  +media-breakpoint-up(sm)
    flex: 0 0 50%
  +media-breakpoint-up(md)
    flex: 0 0 33.3333%
    img
      transition: opacity 0.4s
    &:hover img
      opacity: 0.85
