@import '../../style/modules/base'


.SiteHeader
  padding: 15px 0 0

  .MenuItem
    color: $gray-600
    transition: color 0.3s
    display: block
    &:hover
      color: $gray-600

  .menu
    padding: 15px 0 0
    ul
      +list-unstyled
    .MenuItem
      display: block
      padding: 10px 0
    .fa
      width: 20px
      margin-right: 10px

  .logo
    float: left
    height: 40px
    line-height: 40px
    .fa
      margin-left: 8px

  .mobile-menu-toggle
    +circle-button
    float: right

  .mobile-menu-closed
    display: none

  +media-breakpoint-up(md)
    +fixed-top
    z-index: 5
    .MenuItem
      color: white
      &:hover
        color: white

    .page-folio & .MenuItem
      color: $gray-800

    .menu
      .MenuItem
        padding: 0 2px

      li:last-child .MenuItem
        padding-right: 0

    .menu
      +list-inline
      float: right
      &.mobile-menu-closed
        display: block
      .fa
        +circle-button
        margin-right: 0
        display: block
      .text
        position: absolute
        top: 50%
        right: 120%
        z-index: 3
        transform: translateY(-50%)
        visibility: hidden
        opacity: 0
        transition: all 0.2s
      .MenuItem:hover .text
        visibility: visible
        opacity: 1
        right: 110%
      ul
        position: relative
        height: 40px

    .wrap
      padding: 50px 70px
      transition: padding 0.3s
      position: relative
      z-index: 3

    .background
      +fixed-top
      height: 0
      background: white
      transition: height 0.3s
      z-index: 2

    &.is-scrolled
      .background
        height: 70px
      .wrap
        padding: 0 40px
      .MenuItem
        color: $gray-600
