@import '../../style/modules/base'

.SiteHeader
  padding: 15px 0 0

  +media-breakpoint-up(md)
    +fixed-top
    z-index: 5
    padding: 0

  &__flex
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: space-between

  &__toggle
    +circle-button

  &__toggle-icon
    width: 45%

  +media-breakpoint-up(md)
    &__flex
      height: $header-height

    &__toggle
      display: none

    .u-wrap
      padding: 50px 70px 0
      transition: padding 0.3s
      position: relative
      z-index: 3

    &__bg
      +fixed-top
      height: 0
      background: white
      transition: height 0.3s
      z-index: 2

.SiteHeader
  $this: &

  a,
  button
    transition: color 0.2s
    color: $gray-600
    &:hover
      color: $gray-600

  svg path
    transition: fill 0.2s
    fill: $gray-600


  +media-breakpoint-up(md)
    a,
    button
      color: white
      &:hover
        color: white

    svg path
      fill: white

    &.SiteHeader--is-scrolled
      a,
      button
        color: $gray-600
        &:hover
          color: $gray-600

      svg path
        fill: $gray-600

      #{$this}__bg
        height: 70px

      .u-wrap
        padding: 0 40px

    @at-root .p-folio &:not(.SiteHeader--is-scrolled)
      a,
      button
        color: $gray-800
        &:hover
          color: $gray-800

      svg path
        fill: $gray-800
