@import '../../style/modules/base'

#Intro
  color: white
  box-sizing: border-box
  position: relative
  background: $primary
  text-align: center
  margin: 15px 15px 0

  .flex-wrap
    padding: 60px 20px

  h1
    line-height: 1.2
    font-size: 2em

  h2
    font-size: 1em
    line-height: 1.4
    margin: 20px 0 20px
    font-weight: normal

  .scroll
    color: white
    display: inline-block
    padding: 0 8px 5px
    border-bottom: 1px solid white
    transition: opacity 0.2s
    &:hover
      opacity: 0.8

    .icon-down
      +square(16px)
      margin-left: 8px

  .flex-box
    max-width: 300px
    margin: 0 auto

  +media-breakpoint-up(md)
    border: 40px solid white
    height: 100vh
    max-width: $max-width
    max-height: 1100px
    margin: 0 auto
    min-height: 800px
    margin-bottom: 40px
    .flex-wrap
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      padding-bottom: 327px
    .flex-box
      max-width: $max-width-centered-content
    .scroll
      font-size: 0.7em

.desk-wrap
  background: white
  padding-bottom: 40px
  position: relative
  +media-breakpoint-up(md)
    margin-top: -327px

  .desk
    max-width: 200px
    margin: 0 auto
    display: block
    position: relative
    z-index: 2
    +media-breakpoint-up(md)
      max-width: 350px

  .desk-bg
    +absolute-top
    background: $primary
    height: 116px
    +media-breakpoint-up(md)
      height: 201px
