.modal-animation-enter
  transform: translateY(-100%)
  &.modal-animation-enter-active
    transform: translateY(0)
    transition: 0.4s all

.modal-animation-leave
  transform: translateY(0)
  &.modal-animation-leave-active
    transform: translateY(-100%)
    transition: 0.4s all
