*::selection
  background: rgba(darken($primary, 5%), 0.5)
  color: black

*::-moz-selection
  background: rgba(darken($primary, 5%), 0.5)
  color: black

*::-webkit-selection
  background: rgba(darken($primary, 5%), 0.5)
  color: black

body
  font-family: 'Playfair Display', serif
  min-width: 350px

  &.u-no-scroll
    overflow: hidden

html
  font-size: 16px

  +media-breakpoint-up(md)
    font-size: 18px

  +media-breakpoint-up(lg)
    font-size: 22px

h1
  font-family: 'Open Sans', sans-serif
  font-weight: 800

.u-respond
  @extend %respond

.u-list-inline
  +list-inline

.u-list-unstyled
  +list-unstyled

.u-wrap
  max-width: $max-width
  margin: 0 auto
  padding-left: 15px
  padding-right: 15px

  +media-breakpoint-up(md)
    padding-left: 40px
    padding-right: 40px

.u-inner
  background: $bg
  margin-top: 15px
  padding: 30px 20px 40px

  +media-breakpoint-up(md)
    margin-top: 45px
    padding: 80px 30px 60px
