@import '../../style/modules/base'

.FolioImage
  position: relative
  background: #ffffff
  &.image-loaded picture
    transition: opacity 0.2s
  &.image-not-loaded picture
    opacity: 0
  picture
    +absolute-top
