@import '../../style/modules/base'

.FolioImage
  position: relative
  background: #ffffff

  &__image
    +absolute-top
    @extend %respond
    opacity: 0

    &--loaded
      opacity: 1
      transition: opacity 0.2s
